* {
    box-sizing: border-box;
    margin: 0;
}

#header{
    
    text-align: center; 
}

.char-button {
    text-align: center;
    padding-top: 0px;
    margin-right: 10px;
    margin-top: 10px;
}

.char{
    float: left;
    margin: 10px 40px 10px 0px;
}